<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.binwell.university.Traveler" android:installLocation="internalOnly" android:versionCode="2" android:versionName="1.1">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="23" />
	<application android:label="Traveler"></application>
</manifest>